<!DOCTYPE html>
<html lang='ko' xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Login</title>
</head>
<body>
	<div class="container" layout:fragment="container" onsubmit="return false;">
		<form th:action="@{/user/login}" id="frmLogin" method="post">
			<input type="hidden" name="grant_type" value="password"/>
			<input type="text" name="username" placeholder="ID" />
			<input type="password" name="password" placeholder="PASSWORD" />
			<input type="submit" id="btnSubmit" value="전송" />
		</form>
	</div>
	<script type="text/javascript" layout:fragment="custom-script">
		$(function() {
			$('#btnSubmit').on('click', function(e) {
				var data = $('#frmLogin').serialize();
				console.log('requestParam: ' + data);
				HttpUtil.oAuthLogin(data, console.log, console.log);
			});
		});
	</script>
</body>
</html>
