<!DOCTYPE html>
<html lang='ko' xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">Chicken</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
</head>
<body>
	<!-- header -->
	<header class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse_index">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">닭</a>
				</div>

				<nav class="collapse navbar-collapse" id="collapse_index">
					<ul class="nav navbar-nav">
						<li><a href="/views/trade/list">거래내역</a></li>
						<li><a href="/api/browser/index.html">API 테스트</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</header>
	<div style="height: 70px;">
		<!-- navbar-fixed-top 보정을 위한 빈 div -->
	</div>
	<!--// header -->

	<div class="container" layout:fragment="container">
		<h2>Hello, World!</h2>
	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/vue.min.js"></script>
	<script src="/js/comm.js"></script>
	<script layout:fragment="custom-script"></script>
</body>
</html>
