<div class="row">
	<div class="col-xs-12 col-sm-4">
		<div class="form-group"></div>
	</div>
	<div class="col-xs-12 col-sm-2">
		<div class="form-group">
			<button class="btn btn-default btn-block" onclick="goSearch()">검색</button>
		</div>
	</div>
	<div class="hidden-xs col-sm-4"></div>
	<div class="col-xs-12 col-sm-2">
		<div class="form-group">
			<a class="btn btn-primary btn-block" href="/trade/form/0">신규등록</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="">종류</th>
					<th class="">일자</th>
					<th class="">메모</th>
					<th class="">금액</th>
				</tr>
			</thead>
			<tbody id="tbody_trade_list">
				<tr v-for="trade in listTrade">
					<td>{{trade.cdTypeTrade}}</td>
					<td>{{trade.dtTrade}}</td>
					<td>{{trade.strInfo}}</td>
					<td class="text-right">{{trade.numTrade}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td id="pagination_trade_list" colspan="4" style="text-align: center"></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
<script type="text/javascript">
	$(document).on('ready pjax:end', function(e){
		
		let tbodyTradeList = new Vue({
			el: '#tbody_trade_list'
			, data: {
				listTrade: []
				, pagination: []
			}
		});

		setSearch('acnt.seqAcnt', pageUrl.pathname.split('/')[1]);
		HttpUtil.sendAsync('GET', '/api/trades'+pageUrl.search, null
			, (message)=>{
				let listTrade = JSON.parse(message).content;
				listTrade.forEach((currentValue, index, array)=>{
					array[index].dtTrade = new Date(array[index].dtTrade).format('MM.dd');
				});
				tbodyTradeList.listTrade = listTrade;
			}
			, alert);
		
	});

	let pageUrl = new URL(window.location.href);

	function goPage(page, size, sort) {
		pageUrl.searchParams.set('page', page||pageUrl.searchParams.get('page'));
		pageUrl.searchParams.set('size', size||pageUrl.searchParams.get('size'));
		pageUrl.searchParams.set('sort', sort||pageUrl.searchParams.get('sort'));
		window.location.href = pageUrl.toString();
	}

	function setSearch(key, value) {
		pageUrl.searchParams.set(key, value);
	}

	function goSearch() {
		goPage('0');
	}

	function goForm(seq) {

	}
</script>